# links follow
Options +FollowSymlinks 
# rewrite Apache activate
RewriteEngine On

# /accueil -> /controllers/hpage-controller-home.php
RewriteRule ^accueil$ /controllers/page-controller-home.php [L]

# /exercice -> /controllers/page-controller-exercice.php
RewriteRule ^exercice$ /controllers/page-controller-exercice.php [L]